<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="nav-link" routerLink="../tv-shows/tv-shows-list"><i class="fa fa-arrow-left"></i> Back</a>
            <h1 class="tos">Terms of Service</h1>
            <p class="pp1">While using TVmaze, you agree not to partake in any acts that are illegal in your own
                jurisdiction; the
                United States; or the European Union.</p>

            <p class="pp2">By submitting content to TVmaze, you grant us the indefinite right to use this content in any
                way we see
                fit. However, TVmaze doesn't claim copyright on any submitted content.</p>

            <p class="pp3">The TVmaze Premium order process is conducted by our online reseller Paddle.com. Paddle.com
                is the
                Merchant of Record for all our orders. Paddle provides all customer service inquiries and handles
                returns.</p>
        </div>
    </div>
</div>