<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="nav-link" routerLink="../tv-shows/tv-shows-list"><i class="fa fa-arrow-left"></i> Back</a>
            <ul>
                <li>Shows</li>
                <li>Genre Definitions</li>
                <li>Show extras</li>
                <li>Episodes</li>
                <li>Alternate Episodes</li>
                <li>Episode extras</li>
                <li>People</li>
                <li>Web Channels</li>
                <li>Show main images</li>
                <li>Show image general guidelines</li>
                <li>Episode and Character screencaps</li>
                <li>Summary/Biography text formatting</li>
                <li>News</li>
            </ul>

        </div>
    </div>
</div>