<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="nav-link" routerLink="../tv-shows/tv-shows-list"><i class="fa fa-arrow-left"></i> Back</a>
            <ul>
                <li class="dplist">Shows</li>
                <li class="dplist">Genre Definitions</li>
                <li class="dplist">Show extras</li>
                <li class="dplist">Episodes</li>
                <li class="dplist">Alternate Episodes</li>
                <li class="dplist">Episode extras</li>
                <li class="dplist">People</li>
                <li class="dplist">Web Channels</li>
                <li class="dplist">Show main images</li>
                <li class="dplist">Show image general guidelines</li>
                <li class="dplist">Episode and Character screencaps</li>
                <li class="dplist">Summary/Biography text formatting</li>
                <li class="dplist">News</li>
            </ul>

        </div>
    </div>
</div>