.card-body, .card-footer, .card-body a {
    background-color: #1c2331!important;
        text-decoration: none;
        color:rgba(255, 255, 255, 0.8);
}
.card-footer
{
    border-top:1px solid rgba(255, 255, 255, 0.8);
}
.card
{
background:transparent;
padding-top:5%;
padding-bottom:5%;
}
.container
{
margin-top:3%;
}