<div class="container">
    <div class="row">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tvep" *ngFor="let tvshowep of tvshoweps">
                    <td>{{tvshowep?.number}}</td>
                    <td>{{tvshowep?.airdate}}</td>
                    <td>{{tvshowep?.name}}</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>