.card-body, .card-footer, .card-body a {
    background-color: #1c2331!important;
        text-decoration: none;
        color:rgba(255, 255, 255, 0.8);
}
.card-footer
{
    border-top:1px solid rgba(255, 255, 255, 0.8);
}
.card-body {
    flex: none;
}
h1{
    padding-top:3%!important;
    padding-bottom:3%!important;
}